@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
  font-family: 'Lato', sans-serif;
  background-color: #16191F;
  color: #ADADB4;
}

.container{
  max-width: 40rem;
  width: 80vw;
  margin: 0 auto;
}

#todo_input{
  border-radius: 12px;  
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  padding-left: 0.8rem;
  background-color: #ADADB4;
  border: #5a5a73 1px solid;
  color: #444454;
}

#todo_input, #todo_input::placeholder{
  color: #444454;
}

.todo__label{
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 1rem;
  font-size: 20px;
}

.todo__list{
  list-style-type: none;
  padding-left: 0px;
}

.todo__list-item{
  display: flex;
  flex:1;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.7rem;
  padding: 1.3rem 1.7rem;
  min-width: 10rem;
  background-color: #20202D;
  border-radius: 20px;
  font-size: 16px;
  border: #ADADB4 2px solid;

  transition: opacity 0.4s;
  transition: 2s ease background-color;
}

.todo__list-item:hover{
  -webkit-box-shadow: 8px 8px 12px -7px rgba(80, 80, 90, 1);
  -moz-box-shadow: 8px 8px 12px -7px rgba(80, 80, 90, 1);
  box-shadow: 8px 8px 12px -7px rgba(80, 80, 90, 1);
}
.todo__list-item:hover i{
  color: red;
}

.checkmark{
  font-size: 25px;
  margin-right: 1rem;
  flex:1;
}

.task-text{
  flex:6;
  background-color: transparent;
  border-width: 0px;
  color: #ADADB4;
  transition: 0s;
}

.btn_group{
  display: flex;
  flex:3;
  justify-content: flex-end;
}

.todo__list-item .btn_group {
  margin-left: auto;
  align-items: flex-end;
}

.todo__list-item .btn_group .trash:hover {
  color: #ff0000;
}

.todo__list-item .btn_group .edit:hover {
  color: #fff68f;
}


.todo__list-item .btn_group i {
  display: flex;
  margin-left: 1rem;
  font-size: 17px;
  transition: 0.3s ease-in color;
}

.done {
  color: #3eb333;
}

.done-item{
  background-color: #496546;
  border-color: #3eb333;;
}

.done_task-text{
  background-color: transparent;
}

@media only screen and (max-width: 650px) {   
  .task-text{
    max-width: 60%;
  }
}


#add_task_button {
  background-color: #235e5b;
  margin-bottom: 1rem;
  padding: 10px 15px;
  border: 0;
  border-radius: 12px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  transition: 200ms;
  font-size: 16px;

  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

#add_task_button:hover{
box-shadow: 0 0 40px 40px #38642a inset;
}
